* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: grey;
    font-size: 18px;
}

.page-admin > header {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.page-admin > .section-one {
    padding: 20px;
    background-color: lightgrey;
}

p {
    font-size: 16px;
}

.page-admin > .section-two {
    padding: 40px;
    background-color: black;
    color: white;
}

.page-admin > .section-two > h2 {
    display: flex;
    justify-content: center;
}

.section-split {
    display: flex;
    justify-content: space-evenly;
}

.section-split > a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    background-color: lightgrey;
}

.section-split > a:hover {
    background-color: darkgrey;
    color: white;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: grey;
    vertical-align: middle;
}

footer > a:hover {
    color: white;
}