* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: grey;
    font-size: 18px;
}

.page-catalog > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.page-catalog > .section-one {
    padding: 20px;
    background-color: lightgrey;
}

p {
    font-size: 16px;
}

.page-catalog > .section-two {
    padding: 10px 5px;
    background-color: black;
    color: white;
}

.page-catalog > .section-two > h2 {
    display: flex;
    justify-content: center;
}

.section-category {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 3px;
}

.section-category-alt {
    background-color: lightgrey;
    color: black;
    padding: 10px;
    margin: 3px;
}

.section-category > h3 {
    background-color: darkgrey;
    color: white;
    padding: 10px;
}

.section-category-alt > h3 {
    background-color: black;
    color: white;
    padding: 10px;
}

.section-course {
    border-bottom: 3px solid black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: grey;
    vertical-align: middle;
}